In [1]:
#Importing required libraries
import pandas as pd  #pandas for importing files and rearranging the data
import numpy as np
import seaborn as sb
from scipy import sparse #scipy for math functions
from sklearn.metrics.pairwise import cosine_similarity #sklearn for cosine similarity
import sys
import pickle
import matplotlib.pyplot as plt
import math
import seaborn as sns
import os

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
A= pd.read_excel("output/outputA.xlsx",  parse_dates=True)
A

,0,1,2,3,4,5,6,7,8,9,...,1221,1222,1223,1224,1225,1226,1227,1228,1229,1230
0,2.50,1.666667,1.666667,3.333333,2.50,1.666667,2.50,5.0,2.50,1.666667,...,1.666667,2.50,5.0,2.50,1.666667,1.666667,3.333333,2.50,1.666667,2.50
1,2.50,1.666667,1.666667,3.333333,2.50,1.666667,2.50,5.0,2.50,1.666667,...,1.666667,2.50,5.0,2.50,1.666667,1.666667,3.333333,2.50,1.666667,2.50
2,1.25,0.833333,0.833333,1.666667,1.25,0.833333,1.25,2.5,1.25,0.833333,...,0.833333,1.25,2.5,1.25,0.833333,0.833333,1.666667,1.25,0.833333,1.25
3,1.25,0.833333,0.833333,1.666667,1.25,0.833333,1.25,2.5,1.25,0.833333,...,0.833333,1.25,2.5,1.25,0.833333,0.833333,1.666667,1.25,0.833333,1.25
4,1.25,0.833333,0.833333,1.666667,1.25,0.833333,1.25,2.5,1.25,0.833333,...,0.833333,1.25,2.5,1.25,0.833333,0.833333,1.666667,1.25,0.833333,1.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
793,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.00,0.0,0.00,0.000000,...,0.000000,0.00,0.0,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.00
794,1.25,0.833333,0.833333,1.666667,1.25,0.833333,1.25,2.5,1.25,0.833333,...,0.833333,1.25,2.5,1.25,0.833333,0.833333,1.666667,1.25,0.833333,1.25
795,1.25,0.833333,0.833333,1.666667,1.25,0.833333,1.25,2.5,1.25,0.833333,...,0.833333,1.25,2.5,1.25,0.833333,0.833333,1.666667,1.25,0.833333,1.25
796,1.25,0.833333,0.833333,1.666667,1.25,0.833333,1.25,2.5,1.25,0.833333,...,0.833333,1.25,2.5,1.25,0.833333,0.833333,1.666667,1.25,0.833333,1.25
797,2.50,1.666667,1.666667,3.333333,2.50,1.666667,2.50,5.0,2.50,1.666667,...,1.666667,2.50,5.0,2.50,1.666667,1.666667,3.333333,2.50,1.666667,2.50

In [3]:
C = pd.read_excel("output/outputC.xlsx",  parse_dates=True)
C

,1,2,3,4,5,6,7,8,9,11,...,4372,4373,4374,4375,4376,4377,4378,4379,4380,4381
0,0,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,2,2,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
793,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
794,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
795,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
796,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
797,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
Y=np.dot(A, C.T)
Y

array([[1063.75      ,   40.        ,  852.5       , ...,   34.16666667,
          18.33333333,   10.        ],
       [1063.75      ,   40.        ,  852.5       , ...,   34.16666667,
          18.33333333,   10.        ],
       [ 531.875     ,   20.        ,  426.25      , ...,   17.08333333,
           9.16666667,    5.        ],
       ...,
       [ 531.875     ,   20.        ,  426.25      , ...,   17.08333333,
           9.16666667,    5.        ],
       [ 531.875     ,   20.        ,  426.25      , ...,   17.08333333,
           9.16666667,    5.        ],
       [1063.75      ,   40.        ,  852.5       , ...,   34.16666667,
          18.33333333,   10.        ]])

In [5]:
import numpy as np
 
# Standardization
 

x_np = np.asarray(Y)

z_scores_np = (x_np - x_np.mean()) / x_np.std()
 
# Min-Max scaling
 

np_minmax = 5*((x_np - x_np.min()) / (x_np.max() - x_np.min()))
np_minmax

array([[3.18329177, 0.11970075, 2.55112219, ..., 0.10224439, 0.05486284,
        0.02992519],
       [3.18329177, 0.11970075, 2.55112219, ..., 0.10224439, 0.05486284,
        0.02992519],
       [1.59164589, 0.05985037, 1.2755611 , ..., 0.05112219, 0.02743142,
        0.01496259],
       ...,
       [1.59164589, 0.05985037, 1.2755611 , ..., 0.05112219, 0.02743142,
        0.01496259],
       [1.59164589, 0.05985037, 1.2755611 , ..., 0.05112219, 0.02743142,
        0.01496259],
       [3.18329177, 0.11970075, 2.55112219, ..., 0.10224439, 0.05486284,
        0.02992519]])

In [6]:
Y=pd.DataFrame(np_minmax).to_excel('output/outputY.xlsx', index=False)